@tailwind base;
@tailwind components;
@tailwind utilities;

header{
    background-color: #000;

}

header .listBullet li a{
    padding:20px;
    color:#fff;
    display: block;
}

header .listBullet li a.active{
    background-color: red;
}