/* NavbarWithIcons.css */
.navbar {
  background-color: #333;
  padding: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  margin-right: 20px;
}

span {
  margin-left: 5px;
  vertical-align: middle;
  color: #fff;
}
